.partnerImage {
    border-radius: 100%;
    margin:-50px 20px 0px -10px;

}

// .glyphicon-pencil {
//     float: right;
//     right: 94px;
//     top: -13px;
// }

#partnerHeart {
    position: absolute;
    top: 175px;
    left: 180px;
}

.partnerPts{
    position: relative;
    bottom: 49px;
    left: 67px;
    color: white;
    font-size: 2em;
}

#partnerBucket{

    margin: 20px 0px 0px 0px;
}

.name {
    margin: 0px 0px -11px 0px;
    font-size: 2em;
}

