


  <p class="alert alert-success" role="alert" width="100%" ng-show="message">{{message}}</br><button class="btn btn primary" ng-show="invite" ng-click="sendInvite()"> Invite {{partnerEmail}} </button></p>
  <div id="addPartner" ng-hide="hasPartner" ng-show="show" ng-click="clicked()">
    <h3 ng-show="show">add a partner<br><span class="circle glyphicon glyphicon-plus"></h3>
  </div>



  <div ng-hide="submitted">
    <div class="procedure-details" ng-hide="show">
      <form id="partnerForm" ng-hide="show" width="80%">
        <input type="text" name='partnerEmail' class="form-control" placeholder="enter your partners email" ng-model="partnerEmail">
        <button class="btn btn-primary pull-right"  ng-click="requestPartner(partnerEmail)">Submit</button>
      </form>
    </div>
  </div>
  <div id="partnerBucket" ng-show="hasPartner">
    <p class="name">{{name}}</p>
    <img ng-hide="chosenPic" class="partnerImage" src="{{picUrl}}" width="145px" height="145px"></a>

    <svg version="1.1" id="partnerHeart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 48 48" enable-background="new 0 0 16 16" xml:space="preserve" fill="#604788"> <path d="M 44.463,23.787L 24.00,45.00L 3.537,23.787c-4.686-4.686-4.686-12.285,0.00-16.971 c 4.686-4.686, 12.285-4.686, 16.971,0.00L 24.00,11.061l 3.492-4.242c 4.686-4.686, 12.285-4.686, 16.971,0.00C 49.149,11.502, 49.149,19.101, 44.463,23.787z"></path><text x="24" y="30" style=" fill:white; font-size:1.2em;" text-anchor="middle">{{points}}</text></svg>
  </div>

