<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3 class="modal-title" ng-bind-html="title"></h3>
      </div>
        <div class="modal-body" ng-show="content">
          <h4>Arrange order by Drag and Drop for {{currentUser.partner.name}} to guess</h4>

          <table>
            <thead>
              <tr>
                <th></th>
                <th>Photo</th>
                <th>Title</th>
              </tr>
            </thead>
            <tr ng-model="seletedPhotos" ng-repeat="photo in seletedPhotos">
              <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model='photo.selected'>
                  </label>
                </div>
              </td>
              <td><img src="{{photo.thumbnail}}"></td>
              <td>{{photo.label}}</td>
            </tr>
          </table> 
          <br>
      </div>
    </div>
  </div>
</div>
