<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3 class="modal-title" ng-bind-html="title"></h3>
      </div>
        <div class="modal-body" ng-show="content">
          <h4>Enter the title/purpose of your quiz</h4>
          <input type="text" ng-model="quizTitle" placeholder='i.e. Rank my vacation pictures, Order pictures based on date'/>

          <table>
            <thead>
              <tr>
                <th></th>
                <th>Photo</th>
                <th>Title</th>
              </tr>
            </thead>
            <tr ng-model="instagramPhotos" ng-repeat="photo in instagramPhotos | startFrom:currentPage*pageSize | limitTo:pageSize">
              <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model='photo.selected'>
                  </label>
                </div>
              </td>
              <td><img src="{{photo.thumbnail}}"></td>
              <td>{{photo.label}}</td>
            </tr>
          </table> 
          <br>
          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
            {{currentPage+1}}/{{numberOfPages()}}
          <button ng-disabled="currentPage >= instagramPhotos.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next </button>
          <button ng-click="selectedPhotos(); $hide()" ng-disabled="quizForm.$invalid">Submit</button>
      </div>
    </div>
  </div>
</div>
