.whole-thing{
    margin: 0 auto;
}

.row{
    background: #FAFAFA;
    padding:0 10% 0 10%;
}
.navbar-form {
border-color: #604788;
color: white;
}

.userImage {
    border-radius: 100%;
    margin-left: -38%;
    margin-top: -45px;
    &:hover {
        background:#000;
        opacity:0.5;
    }
}
.imgContainer {
    border-radius: 100%;
    vertical-align: top;
}

.imgContainer, .partner, .goal, .points, .hearts, .progressB {
    display: inline-block;
}


.progressB {
    position: relative;
}

.goal, .points, .partner, .progressB {
    margin: 20px 20px 0 0;
    padding: 75px;
    border: 3px solid rgba(224, 221, 221, .5);
    background: white;
    border-radius: 5px;
    text-align: center;
    width: 46%;
    height:275px;
}

.partner{
    margin-top: 23px;
    vertical-align: top;
}

.little-partner{
    position: relative;
    width: 100%;
}
.svg{
 margin: 0 auto;
}
.glyphicon-plus{
    position: relative;
    margin-top: 5px;
    padding: 9px 5px 5px 7px;
}
.heart{
    margin: 23px 66px 12px 0;
    display:inline-block;
    text-align: center;
    text-decoration: italic;
    position: relative;
}

.heart-points{
    position: absolute;
    margin-right:100px;
    top: 20px;
    left: 37px;
    color: white;
    font-size: 2em;
}

.circle {
    border-radius: 100%;
    color: white;
    background: #604788;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}

.glyphicon-pencil {
    float: right;
    top: -11px;
    right: 89px;
    color: white;
    font-size: 3em;
    &:hover {
        cursor: pointer;
    }
}

.hearts{
    margin-left: -65px;
}

