<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <!--header -->
        <div class="list-group">
          <li class="list-group-item purple"><h1>Message Center</h1></li>
          <!--partner request -->
          <li ng-show="currentUser.reqFrom" class="addPartner messages list-group-item" >
            <p>{{ reqFrom }} would like to add you as a partner </p>
            <button class="btn btn-lg btn-primary" ng-click="partnerDecision(true)" >Accept</button>
            <button class="btn btn-lg btn-danger" ng-click="partnerDecision(false)" >Deny</button>
          </li>
          <!--array of requests -->
            <li ng-repeat="request in requests" class="messages list-group-item" ng-class-even="'requestBackground'" ng-if="request.actionType === 'nwQuiz'" > <p>{{currentUser.partner.name}} has sent you a <span class="knowMe">How Well Do you Know me</span> quiz</p>
              <button class="btn btn-lg btn-success" ng-click="goToQuiz(request.historyId)" >Play now</button>
              <button class="btn btn-lg btn-danger" ng-click="updateBarPercent(false)">Ignore</span></button>
            </li>

            <li ng-repeat="request in requests" class="messages list-group-item" ng-class-even="'requestBackground'" ng-if="request.actionType === 'inQuiz'" > <p>{{currentUser.partner.name}} has sent you a <span class="knowMe">Photo Ordering Quiz</span> quiz</p>
              <button class="btn btn-lg btn-success" ng-click="goToinQuiz(request.historyId)" >Play now</button>
              <button class="btn btn-lg btn-danger" ng-click="updateBarPercent(false)">Ignore</span></button>
            </li>

            <li ng-repeat="request in requests" class="messages list-group-item" ng-class-even="'requestBackground'" ng-if="request.actionType === 'nwResults'" > <p>{{currentUser.partner.name}} has completed your <span class="knowMe">How Well Do You Know Me?</span> quiz</p>
              <button class="btn btn-lg btn-success" ng-click="goToQuizResult(request.historyId)" >View Reponses</button>
            </li>

            <li ng-repeat="request in requests" class="messages list-group-item" ng-class-even="'requestBackground'" ng-if="request.actionType === 'iqResults'" > <p>{{currentUser.partner.name}} has completed your <span class="knowMe">Instagram Photo Quiz</span> quiz</p>
              <button class="btn btn-lg btn-success" ng-click="goToIqResult(request.historyId)" >View Reponses</button>
            </li>



        </div>


    </div>
  </div>
</div>