.requestBackground {
    background-color: #eee;
}

.knowMe {
    color: #604788;
    font-weight: bold;
}

.messages {
    padding: 20px 15px 20px 15px;
    vertical-align: middle;

}

.purple {
    background-color: #604788;
    color: white;
}

.purple:hover {
    background-color: #604788;
}